.sectp3 {
    background-image: url('../image/Apple_Watch_Product_Page_2.png');
    height: 850px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.p3-text {
    color: beige;
    font-weight: bold;
    font-size: 45px;
    position:absolute;
    top: 250px;
    left: 280px;
    width: 300px;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;

    

}
.sect3-watch {
   
    position: absolute;
    top: 25px ;
    left: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    
   
}